<section>
    <div class="container w-50 pt-3 mb-5"> 
        <div class="text-center">
        <h1 class="fw-bold">CONTACT SECTION</h1>
        <div class="d-flex justify-content-center align-items-center my-3">
            <div class="line bg-dark me-3" style="width: 80px; height: 4px;"></div>
            <i class="fa-solid fa-star text-dark fs-4"></i>
            <div class="line bg-dark ms-3" style="width: 80px; height: 4px;"></div>
        </div>
        </div>

        <div class="form-floating mb-3 mt-5">
        <input type="text" class="form-control" id="floatingInput" placeholder="UserName">
        <label for="floatingInput">UserName:</label>
        </div>

        <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="UserAge">
        <label for="floatingInput">UserAge</label>
        </div>

        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="UserEmail">
        <label for="floatingInput">UserEmail</label>
        </div>

        <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="UserPassword">
        <label for="floatingInput">UserPassword</label>
        </div>
        <button class="btn btn-success">Send Message</button>

        
    </div>
</section>

