<section>
    <div class="container vh-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-white fw-bold">ABOUT COMPONENT</h1>
    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="line bg-white me-3" style="width: 80px; height: 4px;"></div>
        <i class="fa-solid fa-star text-white fs-4"></i>
        <div class="line bg-white ms-3" style="width: 80px; height: 4px;"></div>
    </div>
        <div class="row mt-3">
            <div class="col-md-6 text-white">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>

            <div class="col-md-6 text-white">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
