<footer>
<div class="container">
    <div class="row text-center text-white">
        <div class="col-md-4">
        <h4>LOCATION</h4>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
        </div>

        <div class="col-md-4">
        <h4>AROUND THE WEB</h4>
       
        <div class="foot-socail-media d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-facebook-f rounded-pill fs-6 m-2"></i>
            <i class="fa-brands fa-twitter rounded-pill fs-6 m-2"></i>
            <i class="fa-brands fa-linkedin-in rounded-pill fs-6 m-2"></i>
            <i class="fa-solid fa-globe rounded-pill fs-6 m-2"></i>
        </div>
        </div>

        <div class="col-md-4">
        <h4>ABOUT FREELANCER</h4>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
       
        </div>
    </div>
</div>
<div class="footer-foot p-3 text-white text-center">
<p class="m-0">Copyright ©mahd 2025</p>
</div>
</footer>